@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$border-btn-color: #61A5FA;
$background-first-color: #FBBF23;
$background-second-color: #FFFFFF;
$background-hover-first-color: #e1ab1f;
$background-hover-cecond-color: #BCBCBC;
$first-color: #EE4444;
$second-color: #3C81F6;
$third-color: #000000;
$border-active-color: #000000;
$border-color: #FFFFFF;
$border-btn-color: #61A5FA;
$background-first-color: #FBBF23;
$background-second-color: #FFFFFF;
$text-primary-color: #333333;
$text-second-color: #666666;
$text-third-color: #61A5FA;